AplicacionEjemplo/Service References/PersonService/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58983/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58983/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58983/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Encontrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Encontrar" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Encontrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncontrarResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_EditPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_EditPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindAll" message="tns:IPersonService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindAllResponse" message="tns:IPersonService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/Find" message="tns:IPersonService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindResponse" message="tns:IPersonService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encontrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/Encontrar" message="tns:IPersonService_Encontrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/EncontrarResponse" message="tns:IPersonService_Encontrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/EditPerson" message="tns:IPersonService_EditPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/EditPersonResponse" message="tns:IPersonService_EditPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IPersonService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encontrar">
      <soap:operation soapAction="http://tempuri.org/IPersonService/Encontrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/EditPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:58983/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>